<!-- Toolbar -->

<div class="content" role="main">
  <div>
    <!-- <select id="headings">
      <option value="">Spartan Styles</option>
      <option value="Heading1" (click)="applyStyle('Heading1')">Heading 1</option>
      <option value="Heading2" (click)="applyStyle('Heading2')">Heading 2</option>
      <option value="Heading3" (click)="applyStyle('Heading3')">Heading 3</option>
      <option value="bulletText" (click)="applyBulletStyle()">Bullet Text</option>
      <option value="bodyText">Body Text</option>
    </select> -->
<!--     <select [(ngModel)]="selectedStyle">
      <option value="">Spartan Styles</option>
      <option *ngFor="let tstyle of textStyles" [ngValue]="tstyle" (click)="applyStyle()">
        {{ tstyle.name }}
      </option>
    </select> -->
<!--     <select id="mySelect">
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>5</option>
      <option value='6'>6</option>
      <option value='7'>7</option>
      <option value='8'>8</option>
    </select> -->
  </div>
  <!-- Highlight Card -->

  <div class="card-container">
<!--     <button class="btn btn-primary" (click)="initData()">
      Get Bookmarks
    </button> -->
    <button id="run" class="ms-Button">
    <span class="ms-Button-label">Print selection</span>
    </button>

    <button class="btn btn-primary" (click)="addHeader()">
      insert Header
    </button>

    <button class="btn btn-primary" (click)="addFooter()">
      insert Footer
    </button>

    <!-- button class="btn btn-primary" (click)="officeExe()">
      insert Bookmarks
    </button> -->
  </div>
</div>





<router-outlet></router-outlet>
